@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root{
  --prim-color: #6fa6bc;
  --sec-color:#383838;
}

body{
  max-width: 60em;
    padding: 1em;
    margin: auto;
    font-family: 'DM Mono', monospace;
}

a{
  text-decoration: none;
  color: var(--prim-color);
}
a:hover{
  opacity: .6;
}

button, input[type='button'], .bttn{
  color: white;
    background: var(--prim-color);
    border: solid var(--prim-color);
}

nput[type='text']{
  padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

p{
  color: var(--sec-color) ;
  text-align: justify;
}

h6 {
    font: 300 1.5em ;
    color: var(--prim-color);
}

h5 {
    font: 300 1.2em ;
    color: var(--prim-color);
}

h3 {
    font: 300 2em ;
    color: var(--prim-color);
}

h4 {
    font: 300 1.5em ;
    color: var(--prim-color);
}

h2 {
    font: 300 2.5em ;
    color: var(--prim-color);
}

h1 {
    font: 300 3em ;
    color: var(--prim-color);
}